#Homecontent {
  margin: 0;
  padding: 0;
  width: 100%;
}
.homeconone {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: rgb(168, 240, 240);
}
#anhdiv{
  width: 100%;
  
}
.confirst-home {
  width: 100%;
  height: 400px;
}
.onecon {
  display: flex;
  width: 50%;
  justify-content: center;
  margin-top: 3%;
}
.sidecon {
  width: 10%;
}
.cononetext {
  width: 400px;
  text-align: center;
}
#onetextheading {
  color: rgb(151, 66, 243);
}
#conpara {
  color: white;
  font-family: cursive;
}

.form-heading {
  background-color: rgb(160, 78, 237);
  color: white;
  margin: 0%;
  padding: 1%;
  text-align: center;
}

.contactform {
  margin: 5%;
  

  width: 30%;
  height: 25rem;
  background-color: rgb(252, 251, 251);
  border: none;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px 3px gray;
}
.form-control {
  margin: 0%;
}
#anifrm {
  height: 18rem;
  padding: 4%;

}

input {
  margin: 10px 5px;
  width: 70%;
}

#subbtndiv {
  text-align: center;
  margin: auto;
}

#subbtn {
  background-color: rgb(95, 75, 249);
  border: none;
  color: rgb(189, 184, 184);
  font-size: large;
  border-radius: 8px;
  margin-top: 2%;
}

.imgscon {
  width: 10.5rem;
}
.imgscon img {
  width: 100%;
  opacity: 0.5;
  ;
}

img:hover {
  transform: scale(1.3);
  transition: 0.5s;
  opacity: 1;
  box-sizing: border-box;
  border-radius: 45px;
  box-shadow: 3px 3px 3px 3px rgb(22, 55, 78);
}

.second-div {
  width: 100%;
  height: 200px;
  margin-top: 10%;
  margin-bottom: 4%;
}
.second-div-head {
  width: 100%;
  text-align: center;
}

.seccond-div-con {
  display: flex;
  width: 100%;
}

.sidecons {
  width: 15%;
  height: fit-content;
}

.card {
  width: 18%;
  height: auto;
  margin: auto;
}
#whus {
  color: rgb(22, 58, 112);
}

.imgs {
  color: rgb(30, 30, 69);
}
.card {
  text-align: center;
}
.services {
  width: 100%;
  height: 300px;
  background-color: bisque;
}
#vplayer{
  width: 100%;
}


.departments{
  width: 100%;
  text-align: center;
  margin-top: 10%;

}

.departments button{
  background-color: orange;
  border: none;
  border-radius: 20%;
}



#deptsmenus{
  display: flex;
  margin: auto;
 
}

.depti{
  width: auto;
  margin:0px 40px ;
  color: rgb(8, 82, 45);
}
















@media screen and (max-width: 960px) {
  .homeconone {
    display: block;
    width: 100%;
    height: fit-content;
    background-color: rgb(168, 240, 240);
    flex-wrap: wrap;
  }

  .confirst-home {
    width: 100%;
    height: fit-content;
    margin: 2% 1%;
  }

  .imgscon{
    width: 100%;
    margin: auto;
  }

  .seccond-div-con {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
#anhdiv{
  width: auto;
  justify-content: center;
}
  .onecon {
    display: block;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 3%;
  }
  .card {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
  }
  .second-div {
    width: 100%;
    height: fit-content;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .contactform{
    width: 100%;
  }
  
  #anifrm{
    width: 90%;
  }

  #vplayer{
    display: block;
    width: auto;
  }
}


